*~
abbrev_defs
ac-comphist.dat
tramp
.ropeproject/
auto-save-list/*
*/host/Tor*
venv
xhtml-loader.rnc
tmp/*
*.elc
elpa/*.txt
elpa/archives/*
elpa/yasnippet*/snippets
session.*
projectile-bookmarks.eld
